<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.web.booklist.BooklistDAO">

 <!-- BS -->
	<select id="booklist" parameterType="Map" resultType="Map">
		SELECT bkno, bkname, bkwrite, bkimg, bkprice, bkcate,
		(
		SELECT COUNT(*)
		FROM books
		<where>
			<if test="bkcate gt 0">AND bkcate = #{bkcate}</if>
			<choose>
				<when test="searchN == 'all'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%') OR
					bkwrite LIKE
					CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'name'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'write'">
					AND bkwrite LIKE CONCAT('%', #{searchV}, '%')
				</when>
			</choose>
		</where>
		) AS count
		FROM books
		<where>
			<if test="bkcate gt 0">AND bkcate = #{bkcate}</if>
			<choose>
				<when test="searchN == 'all'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%') OR
					bkwrite LIKE
					CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'name'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'write'">
					AND bkwrite LIKE CONCAT('%', #{searchV}, '%')
				</when>
			</choose>
		</where>
		ORDER BY bkno asc
		<if test="startRow >= 0">
		LIMIT #{startRow}, #{pageSize}
		</if>

	</select>

	<select id="bookCount" parameterType="Map" resultType="Integer">
		SELECT COUNT(*) FROM books
		<where>
			<if test="bkcate gt 0">AND bkcate = #{bkcate}</if>
			<choose>
				<when test="searchN == 'all'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%') OR
					bkwrite LIKE
					CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'name'">
					AND bkname LIKE CONCAT('%', #{searchV}, '%')
				</when>
				<when test="searchN == 'write'">
					AND bkwrite LIKE CONCAT('%', #{searchV}, '%')
				</when>
			</choose>
		</where>
	</select>


	<select id="bookdetail" parameterType="Integer" resultType="Map">
		SELECT *
		FROM books WHERE bkno=#{bkno }
	</select>

	<select id="booktop" resultType="BooklistDTO">
		SELECT *
		FROM books
		ORDER BY bcnt
		DESC
		LIMIT 1, 10
	</select>
	
	<select id="bookrtop" resultType="BooklistDTO">
		SELECT *
		FROM books
		ORDER BY rcnt
		DESC
		LIMIT 1, 10
	</select>


	<insert id="bookWrite" parameterType="Map">
		INSERT INTO books (bkname, bkwrite, bkscontent, bkcontent,
		bkprice, bstock, bkcate
		<if test="upFile != null and upFile != ''">, bkimg</if>
		)
		VALUES (#{name}, #{write}, #{scontent}, #{content}, #{price},
		#{bstock}, #{cate}
		<if test="upFile != null and upFile != ''">, #{upFile}</if>
		)
	</insert>
	
	<insert id="bookWrite2" parameterType="Map">
		INSERT INTO rental ( mid, bkno, rdel
		)
		VALUES (#{mid}, #{bkno}, #{rdel}
		)
	</insert>
	
	
 <!-- SM -->	
	<insert id="detail2" parameterType="CartDTO">
    INSERT INTO cart(bkno,bkimg, bkscontent, price, total, amount, mid) VALUES(#{bkno},#{bkimg}, #{bkscontent}, #{price}, #{price}*#{amount}, #{amount}, #{mid})


    </insert>

<select id="cart" parameterType="CartDTO"  resultType="Map">
SELECT *
FROM cart
WHERE amount > 0 AND mid=#{mid} 
ORDER BY cartno desc



</select>

 <update id="delete" parameterType="Map">
UPDATE cart SET amount = amount - #{mod}, total = (SELECT price FROM cart WHERE cartno=#{cartno}) * ((SELECT amount FROM cart WHERE cartno = #{cartno}) - #{mod}) WHERE cartno=#{cartno}

</update>

<delete id="delete2" parameterType="Map">
 DELETE FROM cart WHERE cartno = #{cartno} AND amount = 0


</delete>
 

<update id="cart2" parameterType="CartDTO">
UPDATE cart SET amount = amount + #{amount} , total = total + #{price} * #{amount} WHERE bkno = #{bkno} AND mid = #{mid}
</update>
 
 
 <select id="purchase" parameterType="String" resultType="Map">
SELECT c.mid as mid, c.amount as amount, c.price as price, c.total as total, b.bkname as bkname,
  ROW_NUMBER() OVER (ORDER BY c.bkno) AS rownum
FROM cart c
LEFT JOIN books b ON c.bkno = b.bkno
WHERE c.mid = #{mid};
 

 </select>
 
<!--  <select id="list" parameterType="String" resultType="Map">
 SELECT bkno,amount FROM cart WHERE mid=#{mid}
 
 </select> -->
 
 
 
 <update id="stockupdate" parameterType="Map">
 UPDATE books set bstock = bstock - #{amount} WHERE bkno =#{bkno};
 
 
 </update>
 
 
 
 
 
 <insert id="insert" parameterType="Map">
 
 INSERT INTO trade(ttotal ,mid, tamount, bkno) VALUES(#{total}, #{mid}, #{amount},#{bkno})
 
 </insert>
 
 <delete id="delete3" parameterType="Map">
 DELETE FROM cart WHERE mid =#{mid} 
 </delete>
 
 <select id="coupon" parameterType="CartDTO"  resultType="Map">
SELECT *
FROM coupons
WHERE mid=#{mid} AND cdel = 1
</select>
 
 <update id="update" parameterType="Map">
 UPDATE cart 
 set total = #{sumtotal}
 WHERE mid=#{mid}
 
 
 </update>
 
  <update id="update2" parameterType="Map">
 UPDATE coupons 
 set cdel = 0
 WHERE mid=#{mid}
 </update>
	
	
<!-- SH -->
	<update id="rental" parameterType="Map">
		INSERT INTO rental (rsdate, rddate, bkno, rdel, mid)
		VALUES (#{rsdate}, #{rddate}, #{bkno}, 1, #{mid})
	</update>	
	
	


</mapper>