<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.web.dao.MyPageDAO">
	
	<select id="booklist" resultType="Map">
		select bkname, bkimg, bkwrite, bkprice
		from books
	</select>
	
	<select id="zzimlist" resultType="Map">
		select z.zno, b.bkname, b.bkimg, b.bkwrite,
			(select count(*) from zzim z where z.mid = 1) as count
		from zzim z left join books b
		on z.bkno = b.bkno
		where z.mid = 1
	</select>
	
	<delete id="zdelete" parameterType="String">
		delete from zzim
		where zno = #{string} and mid=1
	</delete>
	
	<select id="buylist" parameterType="Map" resultType="Map">
		select t.tno, b.bkimg, b.bkname, b.bkprice, t.tamount, t.tdate, t.tgroup
		from trade t left join books b
		on t.bkno = b.bkno
		<where>
		t.mid = 1
			<choose>
				<when test="searchN == 'no'">and t.tno like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'title'">and b.bkname like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'writer'">and b.bkwrite like concat('%', #{searchV},'%')</when>
			</choose>
		</where>
		group by t.tno
		order by t.tno desc
	</select>
	
	<select id="rentlist" resultType="Map">
		select t.tno, b.bkimg, b.bkname, b.rsdate, b.rddate
		from trade t left join books b
		on t.bkno = b.bkno
		where t.mno = 1 and b.rsdate is not null
		group by t.tno
		order by t.tno desc
	</select>
	
	<select id="boardlist" parameterType="Map" resultType="Map">
		select b.bno, b.btitle, b.bcontent, b.bdate, b.bcate
		from board b join members m
		on b.mno = m.mno
		<where>
		m.mid = 1 and b.bdel = 1
			<if test="cate gt 0">and b.bcate = #{cate}</if>
			<choose>
				<when test="searchN == 'no'">and b.bno like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'title'">and b.btitle like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'writer'">and b.bcontent like concat('%', #{searchV},'%')</when>
			</choose>
		</where>
		order by b.bno desc
	</select>
	
	<select id="bdetail" parameterType="Integer" resultType="Map">
		select btitle, bcontent
		from board
		where bno = #{bno}
	</select>
	
	<update id="bdelete" parameterType="Map">
		update board set bdel = 0 
		where bno=#{bno}
		and mno=(select mno from members where mid=#{mid})
	</update>
	
</mapper>