@charset "UTF-8";

.subjoin-div{
	box-sizing : border-box;
	margin: 100px auto;
	padding: 20px;
	font-size:15px;
	background-color:#F2F2F2;
	width: 500px;
}

h1 {
    font-weight: bold; 
    font-size: 40px; 
    color: black;
}

label{
	margin: 15px 15px 15px -10px;
	padding-right: 10px;
    text-align: right;
    vertical-align: middle;
    width: 15%;
	float: left;
}

input{
    background-color:white;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    padding-left: 10px;
 	border:none;
  	outline:none;
}

#mid, #mname, #maddr, #maddr1, #memail{
	margin: 0 10px 20px 5px;
}

#autoInfo{
	margin-left: 100px;
	margin-bottom: 35px;
	text-align: center;
}
#autoInfo span{
	text-align: center;
	color: tomato;
	font-size: small;
}

button{
	background-color: black;
	color: white;
	border: none;
    border-radius: 5px;
    padding: 10px 25px; 
    font-size: 16px;
    cursor: pointer;
}
